body {
  background-color: #dff0f3;

  .title {
    width: 400px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 70px;

    h2 {
      font-size: 2.5em;
      color: #1d2b73;
      text-align: center;
      letter-spacing: 0.1em;
    }

    .underline {
      border: solid;
      border-color: #03a9f4b3;
      width: 70px;
      margin: auto;
      margin-top: -30px;
    }
  }
}
